/* Подключение шрифтов */
@font-face {
  font-family: 'Karla-Regular';
  src: url('../fonts/Karla-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla-Bold';
  src: url('../fonts/Karla-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lora-Regular';
  src: url('../fonts/Lora-Regular.ttf') format('truetype');
}

/* Общие стили */
body {
  width: 100%;
  background-color: #efeeee;
}
* {
  margin: 0;
  padding: 0;
}
/*тут приняла ширину экрана 1440px, согласно макету, дописывайте названия своих блоков сюда*/

/*тут приняла ширину экрана 1440px, согласно макету*/
.main-wrapper {
  max-width: 1440px;
}
h2 {
  font-family: 'Lora-Regular', Times, sans-serif;
  font-weight: normal;
  font-size: 54px;
  line-height: 1.3em;
  color: #41444e;
}
.subtitle {
  font-family: 'Karla-Bold', Times, sans-serif;
  font-size: 20px;
  color: #a8abb3;
}
.text-info {
  font-family: 'Karla-Regular', Times, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  color: #222;
}


/*Блок header*/

/*Блок main*/
.main {
  padding: 0 4vw;
}
.main-wrapper {
  margin: 4vh auto;
  display: flex;
  align-items: center;
}
.main-info__subtitle {
  margin: 6% 0 3%;
}
.main-info__title {
  max-width: 80%;
  margin-bottom: 3%;
}
.break::after {
  content: "\A";
  white-space: pre;
}
.main-container {
  max-width: 50%;
  position: relative;
}
.main-container__image {
  width: 100%;
  height: auto;
}
.main-container__telegram {
  position: absolute;
  right: 30px;
  bottom: 16px;
}


/*Медиа-запросы для блока main*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .main-info__title {
    font-size: 46px;
  }
}
@media screen and (max-width: 991px) {
  .main-wrapper {
    flex-direction: column;
  }
  .main-info {
    text-align: center;
  }
  .main-info__title {
    margin: auto;
    font-size: calc(1rem + 2.8vw);
  }
  .main-info__subtitle, .main-info__text {
    font-size: calc(1rem + 0.5vw);
  }
  .main-container {
    margin-top: 1vh;
    max-width: 100%;
  }
  .main-container__telegram {
    top: 8px;
    font-size: 0.8rem;
  }
}

/*Информационная страница № 1*/

/*Информационная страница № 2*/
.block-2 {
  margin: 4vw;
}

h3 {
  font-family: 'Karla-Bold';
}

h5 {
  font-family: 'Lora-Regular';
}
.col {
  margin-bottom: 20px;
}
.card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.card img {
  width: 100%;
  height: auto;
  transition: transform 4s ease-in-out;
}
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Начальный цвет, полностью прозрачный */
  transition: background-color 0.3s ease-in-out;
  z-index: 1; /* Помещаем поверх изображения, но под текстом */
}

.card:hover::before {
  background-color: rgba(0, 0, 0, 0.8);
  
}
.card:hover img {
  transform: translateX(-200px);
}
.card-body {
  position: relative;
  z-index: 2;
  padding: 20px;
  color: #0e0d0d;
  transition: color 0.3s ease-in-out;
}

.card:hover .card-body {
  color: #f1efef;
}
/*Информационная страница № 3*/

/*Страница с e-mail*/

/*Блок footer*/
